.heading {
  text-align: center;

}

.topnav {
  overflow: hidden;
  background-color: hsl(199, 92%, 77%);
}

/* Style the links in the navbar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Center the paperimg */
.paperimg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 46%;
  padding: 1px;
  border: 5px solid #687cee;
  background-color: #070707;
}
